<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <meta name="keywords" content="WebAssembly,wasm,中文,文档,中文文档"/>
  <meta name="description" content="WebAssembly 中文文档"/>
  <title>{% if page.url == "/" %}WebAssembly{% else %}{{ page.title }} - WebAssembly{% endif %}</title>
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>


<body>
  <header class="page-section-spacious">
    <div class="container">
    <div class="site-logo">
      <h1 class="title">WebAssembly 中文文档</h1>
    </div>
    <nav class="site-nav">
      <a class="site-nav-item btn" href="/">总览</a>
      <a class="site-nav-item btn" href="/demo/">实例</a>
      <a class="site-nav-item btn" href="/getting-started/developers-guide/">快速开始</a>
      {% assign sorted = site.pages | sort:"weight"  %}
      {% assign first_doc = sorted | where:"type","doc" | first %}
      <a class="site-nav-item btn" href="{{ first_doc.url }}">文档</a>
      <a class="site-nav-item btn" href="/community/feedback/">社区</a>
      <a class="site-nav-item btn" href="/roadmap/">规划</a>
      <a class="site-nav-item btn" href="/docs/faq/">问答</a>
      <a class="site-nav-item btn" href="https://github.com/int64ago/wasm-cn" target="_blank">💓参与翻译💓</a>
    </nav>
    </div>
  </header>
  <section class="banner-update">
    <div class="container">
      <div class="banner-update-icon"></div>
      <span class="banner-update-date"></span>
      <span>WebAssembly 初版规范已由各个浏览器厂商达成共识，<a href="/roadmap/">了解更多</a></span>
    </div>
  </section>
  {% if page.lead %}
  <section class="page-section-spacious flush-bottom">
    <div class="container-narrow">
      <p class="lead">{{page.lead}}</p>
    </div>
  </section>
  {% endif %}
